/* Styles globaux */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Logo */
#logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Sections */
section {
    margin-bottom: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: auto; /* Force le footer à se coller en bas de la page */
}

/* Empêche les marges et paddings excessifs */
main {
    padding-bottom: 50px;  /* Ajuste si nécessaire */
}

/* Ajout pour éviter les espaces supplémentaires sous le footer */
footer, main {
    margin-bottom: 0;
    padding-bottom: 0;
}
